<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="/common/common :: head(~{::title},~{::link},~{::script})">
    <title>大数据筛查一览</title>
    <link>
    <script></script>
</head>
<body>
<!--/*@thymesVar id="#dic" type="com.wonders.health.tumor.common.tags.DictData"*/-->
<!--/*@thymesVar id="#auth" type="com.wonders.health.tumor.common.tags.AuthData"*/-->
<div class="content pd-10" style="width:auto; overflow: hidden;">
    <div class="mini-tabs" activeIndex="0" style=" width:100%; overflow: hidden;">
        <div title="大数据筛查一览">
            <div class="search-div-box mb-10">
                <table width="99%" border="0">
                    <tbody>
                    <tr>
                        <td align="left">
                            <div class="keyword">
                                <input id="keyword" name="keyword" class="radius" placeholder="可按照姓名或者证件号码模糊查询" data-tooltip="输入身份证号时至少6位" type="text">
                                <div class="my-btn my-btn-blue" onclick="onSearch()">搜索</div>
                            </div>
                        </td>
                        <td width="100px" align="center">
                            <a herf="#" onclick="toggleVisibility(div1)"><strong style="color:#3f93d4">高级搜索&nbsp;
                                <img th:src="@{/images/pp_up.png}" src="../static/images/pp_up.png" id="pctid"></strong></a>
                        </td>
                        <td align="left"></td>
                        <td style="width: 200px" align="right">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div id="div1" style="display: none;" class="mt-10">
                    <div class="mini-row">
                        <div class="mini-col-3">
                            <label class="mr-5">居住地区县：</label>
                            <input id="jzdcounty" name="jzdcounty" class="mini-combobox" width="40%"
                                   th:data="${#auth.getAreas(areaCode)}" th:value="${areaCode}" emptyText="请选择"
                                   allowInput="true" valueFromSelect="true"
                                   textField="text" valueField="id" />
                        </div>
                        <div class="mini-col-4">
                            <label class="mr-5">居住地街道：</label>
                            <input id="jzdtown" name="jzdtown" class="mini-combobox" width="50%"
                                   th:data="${townData}" th:value="${town}" emptyText="请选择"
                                   allowInput="true" valueFromSelect="true"
                                   textField="text" valueField="id" />
                        </div>
                        <div class="mini-col-3">
                            <label class="mr-5">居住地居委：</label>
                            <input id="jzdcommittee" name="jzdcommittee" class="mini-combobox" width="70%"
                                   showNullItem="true" allowInput="true" valueFromSelect="true" emptyText="请选择"
                                   textField="text" valueField="id" />
                        </div>
                    </div>

                    <div class="mini-row">
                        <div class="mini-col-3">
                            <label class="mr-5">性别：</label>
                            <input id="gender" name="gender"  showNullItem="true" class="mini-combobox" width="46%"
                                   emptyText="请选择" textField="name" valueField="code" th:data="${#dic.generals('60023')}"/>
                        </div>
                        <div class="mini-col-7">
                            <label class="mr-5 fl">高危因素：</label>
                            <input id="risk" name="risk" class="mini-checkboxlist fl" width="90%"
                                   textField="name" valueField="code" th:data="${#dic.generals('60054')}"/>
                        </div>
                    </div>
                </div>
            </div>

            <div id="datagrid" url="../bigData/data" class="mini-datagrid" style=" overflow: auto;width: calc(100vw - 25px);height: auto"
                 sizeList="[10,20,50]" pageSize="20" idField="id">
                <div property="columns" >
                    <div field="name" width="70px" headerAlign="center" style="min-width:100px; width:auto;" align="center">姓名</div>
                    <div field="personcard" renderer="sfzhRenderer" width="150px" headerAlign="center" align="center" allowSort="false">身份证号</div>
                    <div field="gender" type="comboboxcolumn" width="50px" headerAlign="center" align="center" allowSort="false">性别
                        <input property="editor" class="mini-combobox" style="width:100%;" textField="name"
                               valueField="code" th:data="${#dic.generals('60023')}"/></div>
                    <div field="addressDetail" width="350px" headerAlign="center" align="center" allowSort="false">居住地址</div>
                    <div field="mobile" width="90px" headerAlign="center" align="center" allowSort="false">联系方式</div>
                    <div field="riskAccount" width="200px" headerAlign="center" align="center" allowSort="false">高危因素</div>
                    <div type="action" renderer="actionRenderer" width="90px" headerAlign="center" align="center" allowSort="false">操作</div>
                </div>
            </div>
        </div>
    </div>
    <input id="hideInput" class="mini-hidden" shiro:hasPermission="tumor:bigData:check" value="1" />
</div>
<script type="text/javascript" th:inline="javascript">
    mini.parse();
    var grid = mini.get("datagrid");
    var form = new mini.Form('#div1');
    var orgCode = [[${orgCode}]];

    $(function () {
        var kp = [[${kp}]];
        if(kp){
            var params = mini.decode(base64decode(kp));
            form.setData(params);
            $("#keyword").val(params.keyword);
        }
        townChange();
        if(kp){
            var params1 = mini.decode(base64decode(kp));
            mini.get("jzdcommittee").setValue(params1.jzdcommittee);
        }
        onSearch();
    });

    function countyChange(e) {

        var baseUrl = "/tumor/area/query";
        var townUrl = baseUrl + "?level=4&pcode=";

        setAddressUrl('jzdtown', 'jzdcounty', townUrl);
        setInputEmpty("jzdcommittee");
        mini.get("jzdcommittee").setData([]);
    }

    function townChange(e) {
        var baseUrl = "/tumor/area/query";
        var committeeUrl = baseUrl + "?level=5&pcode=";

        setAddressUrl('jzdcommittee', 'jzdtown', committeeUrl);
    }

    //查询
    function onSearch() {
        var data = form.getData(true);
        var keyword = $("#keyword").val();
        if (!validateKey(keyword)) {
            return;
        }
        data.keyword = keyword;
        data.orgcode = orgCode;
        grid.load(data, gridLoadSuccess, gridLoadError);
    }

    function toggleVisibility(div1) {
        if (div1.style.display == 'none'){
            div1.style.display = 'block';
            document.getElementById("pctid").src = '../images/pp_down.png';
        } else if (div1.style.display == 'block') {
            div1.style.display = 'none';
            document.getElementById("pctid").src = '../images/pp_up.png';
        } else {
            div1.style.display = 'block';
            document.getElementById("pctid").src = '../images/pp_down.png';
        }
    }

    //证件号码校验
    function validateKey(key) {
        if(key != null && key != undefined && key != '' && key.length < 6){
            var flag = false;
            for(var i = 0 ; i < key.length ; i++){
                var c = key[i];
                if(!((c >= '0' && c <= '9') || c == "x" || c == "X" || c == " ")){
                    flag = true;
                    break;
                }
            }
            if(!flag) {
                mini.showTips({content: "按照证件号码查询，输入不能小于六位", state: "warning", x: "center", y: "center", timeout: "2000"});
            }
            return flag;
        }
        return true;
    }

    //操作列
    function actionRenderer(e) {
        var r = e.record;
        var h = '';
        var hideValue = mini.get("hideInput").getValue();

        if (hideValue == "1"){
            h += '<a  onclick="checkReg(\'' +r.pushid + '\')" style="color:blue;cursor:pointer">核实登记</a>&nbsp;';
        }
        return h;
    }

    //核实登记
    function checkReg(pushid) {
        var kp;
        var data = form.getData(true);
        data.keyword=$("#keyword").val();
        kp = base64encode(mini.encode(data));

        var url = "../bigData/form?id="+pushid+"&kp="+encodeURIComponent(kp);
        mini.mask({
            el: document.body,
            cls: 'mini-mask-loading',
            html: '加载中...'
        });
        window.location.href =url;
    }
</script>
</body>
</html>