<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:include="/common/common :: head(~{::title},~{::link},~{::script})">
    <title>打印诊断建议书</title>
    <link>
    <script></script>
</head>
<body>
<style>
    .content {width: 170mm; margin: 0 auto;text-align: center;}
    *{  line-height: 1.5em; font-family:'新宋体';}
    .content h1 { font-size: 22px; margin:20px 0px;}
    .content div,.content p{ font-size: 18px;text-align: left!important;text-indent: 2em;line-height: 1.8em;}
    .content p { text-indent: 0em;}
    .content span{display: inline-block;width:auto;min-width:0px;margin-left:-38px;margin-right:1px; word-break: normal;}
</style>

<center>
    <div class="content pd-10">
        <h2>普陀区肿瘤早发现</h2>
        <h1>肺部CT/胃镜/肠镜建议书</h1>
    <p>尊敬的<span id="namespan" style="margin-left: 0px"></span> ：</p>
        <div>感谢您参加普陀区肿瘤早发现项目！
        </div>
        <div>收到本建议书说明您的筛查结果为<b>阳性</b>，其中危险因素评估<BR>
            显示您具有<span id="aizhengs" style="width: 200px"></span>危险因素，FOBT检查结果为<span id="fobt" style="width: 80px;margin-right:-10px"></span>，<BR>

            GPT检查结果为<span id="gpt" style="width:50px;margin-left:-10px;margin-right:20px"></span>，HBsAg检查结果为<span id="hbs" style="width: 50px;margin-left:-10px;margin-right:20px"></span>，AFP检查结果<BR>

            为<span id="afp" style="width: 50px;margin-left:0px;margin-right:30px"></span>，肝脏B超检查结果为<span id="bus" style="width: 50px;margin-left:10px;margin-right:50px"></span>。有很多原因会<BR>

            导致上述检查出现阳性结果，本结果并不意味着您已经患上了肿<BR>
            瘤。为了明确您阳性结果原因，我们强烈建议您前往医院接受<BR>
            肺部低剂量螺旋CT/胃镜/肠镜检查。

        </div>
        <div>
            您居住地附近的<span style="width:100px;border-bottom:1px solid #333;display: inline-block;margin-left:0px"></span>医院是普陀区肿瘤早发现项目<BR>
            的指定医院，携带本建议书前往上述指定医院接受肺部CT/胃镜<BR>
            /肠镜检查可享受便民措施，并可凭检查结果前往社区卫生服务<BR>

            中心领取补贴，补贴标准：
            <span id="bt" style="width:400px;background-color: yellow;margin-left:-20px"></span><BR>
        </div>

    <div>如果您对建议书上相关内容有任何疑问，请咨询社区卫生服<BR>
        务中心的工作人员。</div>
        <div><b>再次感谢您的参与！</b></div>
        <div class="clearfix"><b class="fr">社区卫生服务中心！&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></div>

        <div class="fr" style="width: 200px;"><b>年&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;日</b></div>
        <p style="clear: both; width: 100%;"><b class="fl">地址：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b><b>电话：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></p>
    </div>
</center>


<script type="text/javascript" th:inline="javascript">
    mini.parse();
    var name=[[${name}]];
    $("#namespan").html(name);

    var aizhengs=[[${aizheng}]];
    $("#aizhengs").html(aizhengs);

    var fobt=[[${byx}]];
    $("#fobt").html(fobt);

    var gpt=[[${gtp}]];
    $("#gpt").html(gpt);

    var hbs=[[${hbs}]];
    $("#hbs").html(hbs);

    var afp=[[${afp}]];
    $("#afp").html(afp);

    var bus=[[${bus}]];
    $("#bus").html(bus);


    var btbz='';
    var fa=[[${fa}]];
    if(fa=="1"){
        btbz+='肺部CT80元；';
    }
    var wa=[[${wa}]];
    if(wa=="1"){
        btbz+='胃镜100元；';
    }
    var dca=[[${dca}]];
    if(dca=="1"){
        btbz+='肠镜100元';
    }
    btbz+='。您也可以选择去非指定医院就医。';
    $("#bt").html(btbz);



</script>

</body>
</html>
