<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>执行错误</title>
</head>
<body style="background-color: #F5F5F5;text-align: center;">
<img src="../static/images/error.png" th:src="@{/images/error.png}">
<div>
    <!--<a href="javascript:history.go(-1);" style="margin-right: 25px;">
        <img src="../static/images/btn_back.png">
    </a>
    <a href="/tumor/index" style="margin-left: 25px;">
        <img src="../static/images/btn_index.png">
    </a>-->
</div>
</body>
</html>