<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:include="/common/common :: head(~{::title},~{::link},~{::script})">
    <title>肿瘤早发现随访对象</title>
    <link>
    <script></script>
</head>
<body>
<div class="content pd-10" style="width:auto; overflow: hidden;">
    <div id="tabs" class="mini-tabs" activeIndex="0" style="width:100%; height:calc(100vh - 100px);overflow: hidden;">
        <div name="crc" title="大肠癌随访" th:if="${crcFlag==1?true:false}" th:url="@{/crcFollow/list(manageId=${manageId},checkYear=${checkYear})}"></div>
        <div name="lic" title="肝癌随访" th:if="${licFlag==1?true:false}" th:url="@{/licFollow/list(manageId=${manageId},checkYear=${checkYear})}"></div>
        <div name="sc" title="胃癌随访" th:if="${scFlag==1?true:false}" th:url="@{/scFollow/list(manageId=${manageId},checkYear=${checkYear})}"></div>
        <div name="luc" title="肺癌随访" th:if="${lucFlag==1?true:false}" th:url="@{/lucFollow/list(manageId=${manageId},checkYear=${checkYear})}"></div>
    </div>
</div>
<div class="btn-list text-c mt-10">
    <button class="my-btn my-btn-blue mr-20" onclick="back();">返回</button>
</div>
</body>
<script type="text/javascript" th:inline="javascript">
    mini.parse();
    var tabs = mini.get("tabs");
    var tabName = [[${from}]];
    //返回
    function back() {
        window.location.href = "../follow/list";
    }

    $(function() {
        //定位癌症
        if (tabName) {
            var tab = tabs.getTab(tabName);
            if(tab){
                tabs.activeTab(tab);
            }
        }
    });
</script>
</html>