<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="/common/common :: head(~{::title},~{::link},~{::script})">
    <title>肝癌随访一览</title>
    <link>
    <script></script>
</head>
<body>
<!--/*@thymesVar id="#dic" type="com.wonders.health.tumor.common.tags.DictData"*/-->
<div class="content pd-10" style="width:auto; overflow: hidden;">
    <div id="form1">
        <table class="table_new table_new5 mt-10" id="baseForm">
            <tbody>
            <tr>
                <td>筛查年份</td>
                <td>
                    <span th:text="${checkYear}">2018</span>
                </td>
                <td>证件类型</td>
                <td>
                    <span th:text="${#dic.generalName('60022', personInfo.personcardType)}"></span>
                </td>
                <td>证件号码</td>
                <td>
                    <span th:text="${personInfo.personcard}"></span>
                </td>
            </tr>
            <tr>
                <td>姓&nbsp;&nbsp;名</td>
                <td>
                    <span th:text="${personInfo.name}"></span>
                </td>
                <td>性&nbsp;&nbsp;别</td>
                <td>
                    <span th:text="${#dic.generalName('60023', personInfo.gender)}"></span>
                </td>
                <td>出生日期</td>
                <td>
                    <span th:text="${#dates.format(personInfo.birth, 'yyyy-MM-dd')}"></span>
                </td>
            </tr>
            <tr>
                <td>移动电话</td>
                <td>
                    <span th:text="${personInfo.mobile}"></span>
                </td>
                <td>固定电话</td>
                <td>
                    <span th:text="${personInfo.telephone}"></span>
                </td>
                <td>居住地址</td>
                <td>
                    <span th:text="${personInfo.addressDetail}"></span>
                </td>
            </tr>
            <tr>
                <td>肝癌初筛登记日期</td>
                <td>
                    <span th:text="${#dates.format(regcase.regdate, 'yyyy-MM-dd')}"></span>
                </td>
                <td>肝癌判定结果</td>
                <td>
                    <span th:text="${#dic.generalName('60001',regcase.checkResult)}"></span>
                </td>
                <td>肝癌诊断状态</td>
                <td>
                    <span th:text="${diagStatus}"></span>
                </td>
            </tr>
            <tr>
                <td style="background: #FFFFFF;" colspan="6">
                    <span>肝癌随访信息</span>
                    <button id="add" shiro:hasPermission="tumor:follow:add" class="my-btn my-btn-blue mr-20" style="float: right;" onclick="addFollow();">新增随访</button>
                    <!--肝癌管理一览 编辑权限  -->
                    <input  name="hideInput" shiro:hasPermission="tumor:follow:edit" value="1" class="mini-hidden"/>
                    <!--肝癌管理一览 删除权限  -->
                    <input  name="hideInput" shiro:hasPermission="tumor:follow:delete" value="2" class="mini-hidden"/>
                </td>
            </tr>
            </tbody>
        </table>
        <div id="datagrid" url="../licFollow/data" class="mini-datagrid" style=" width:99%; height:auto;"
             showPager="false" idField="id" allowResize="false" multiSelect="false">
            <div property="columns">
                <div field="suifangDate" width="90px" headerAlign="center" align="center" dateFormat="yyyy-MM-dd">随访日期</div>
                <div field="suifangyishengName" width="60px" headerAlign="center" align="center">随访医生</div>
                <div field="suifangjigouName" width="250px" renderer="actionName" headerAlign="center" align="center">随访医疗机构</div>
                <div type="action" width="90px" renderer="actionRender" headerAlign="center" align="center">操作</div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" th:inline="javascript">
    mini.parse();
    var grid = mini.get("datagrid");
    var checkId = [[${checkId}]];
    var manageId = [[${manageId}]];
    var checkYear = [[${checkYear}]];
    var checkResult = [[${regcase.checkResult}]];
    var hideValue="";

    $(function() {
        onSearch();
        //阴性或者未筛查
        if (checkResult == null || checkResult == "" || checkResult == "1") {
            $("#add").hide();
        }
        //获取权限标识 1--编辑；2--删除
        var els = mini.getsByName("hideInput");
        for (var i = 0; i < els.length; i++) {
            var el = els[i];
            hideValue +=el.value;
            hideValue +=",";
        }
    });

    //查询
    function onSearch() {
        var data = new Object();
        data.licCheckId=checkId;
        grid.load(data, gridLoadSuccess, gridLoadError);
    }

    //操作列
    function actionRender(e) {
        var r = e.record;
        var h = '';

        h += '<a onclick="viewFollow(\'' + r.id + '\', \'1\')" style="color:blue;cursor:pointer">查看</a>&nbsp;';
        if (hideValue.indexOf('1') != -1){
            if (checkResult == "2") {
                h += '<a onclick="viewFollow(\'' + r.id + '\', \'2\')" style="color:blue;cursor:pointer">编辑</a>&nbsp;';
            }
        }

        //存在删除权限
        if (hideValue.indexOf('2') != -1){
            if (checkResult == "2") {
                h += '<a onclick="deleteRecord(\'' + r.id + '\')" style="color:blue;cursor:pointer">删除</a>&nbsp;';
            }
        }
        return h;
    }

    //新增随访
    function addFollow() {
        var url = "../licFollow/add?manageId=" + manageId + "&checkYear=" + checkYear + "&flag=3";
        mini.mask({
            el: document.body,
            cls: 'mini-mask-loading',
            html: '加载中...'
        });
        parent.window.location.href =url;
    }

    //查看或者编辑
    function viewFollow(id,flag) {
        var url = "../licFollow/form?id="+id+"&flag="+flag;
        mini.mask({
            el: document.body,
            cls: 'mini-mask-loading',
            html: '加载中...'
        });
        parent.window.location.href =url;
    }
    //删除
    function deleteRecord(id) {
        mini.confirm("确认是否删除", "确定？",
                function (action) {
                    if (action == "ok") {
                        $.ajax({
                            url: "../licFollow/delete",
                            data: {id:id},
                            dataType: "json",
                            success: function (res) {
                                if (res.ok) {
                                    mini.showTips({
                                        content: res.msg,
                                        state: "success",
                                        x: "center",
                                        y: "center",
                                        timeout: 2000
                                    });
                                    onSearch();
                                } else {
                                    mini.showTips({
                                        content: res.msg,
                                        state: "warning",
                                        x: "center",
                                        y: "center",
                                        timeout: 2000
                                    });
                                }
                            }
                        });
                    }
                }
        );
    }
</script>
</html>