<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:include="/common/common :: head(~{::title},~{::link},~{::script})">
    <title>肺癌随访一览</title>
    <link>
    <script>
    </script>
</head>
<body>
<div class="content pd-10">
    <table>
        <tr>
            <td>筛查年份</td>
            <td>
                <input class="mini-textbox" readonly="readonly" th:value="${info.checkYear}"/>
            </td>
            <td>证件类型</td>
            <td>
                <input class="mini-combobox form-control" textField="name" valueField="code" th:value="${info.personcardType}" th:data="${#dic.generals('60022')}" readonly="readonly" />
            </td>
            <td>证件号码</td>
            <td>
                <input class="mini-textbox" readonly="readonly" th:value="${info.personcard}"/>
            </td>
        </tr>
        <tr>
            <td>姓&nbsp;&nbsp;名</td>
            <td>
                <input class="mini-textbox" readonly="readonly" th:value="${info.name}"/>
            </td>
            <td>性&nbsp;&nbsp;别</td>
            <td>
                <input class="mini-combobox form-control" textField="name" valueField="code" th:value="${info.gender}" th:data="${#dic.generals('60023')}" readonly="readonly" />
            </td>
            <td>出生日期</td>
            <td>
                <input class="mini-textbox" readonly="readonly" th:value="${#dates.format(info.birth, 'yyyy-MM-dd')}"/>
            </td>
        </tr>
        <tr>
            <td>移动电话</td>
            <td>
                <input class="mini-textbox" readonly="readonly" th:value="${info.mobile}"/>
            </td>
            <td>固定电话</td>
            <td>
                <input class="mini-textbox" readonly="readonly" th:value="${info.telephone}"/>
            </td>
            <td>居住地址</td>
            <td>
                <input class="mini-textbox" readonly="readonly" th:value="${info.address}"/>
            </td>
        </tr>
        <tr>
            <td>肺癌初筛登记日期</td>
            <td>
                <input class="mini-textbox" readonly="readonly" th:value="${#dates.format(info.regdate, 'yyyy-MM-dd')}"/>
            </td>
            <td>肺癌判定结果</td>
            <td>
                <input class="mini-combobox form-control" textField="name" valueField="code" th:value="${info.checkResult}" th:data="${#dic.generals('60001')}" readonly="readonly" />
            </td>
            <td>肺癌诊断状态</td>
            <td>
                <input class="mini-textbox" readonly="readonly" th:value="${info.zdzt}"/>
            </td>
        </tr>
    </table>
    <div th:if="${info.checkResult=='2'}">
        <span>肺癌随访信息</span>
        <button class="my-btn my-btn-blue mr-20" style="float: right;" onclick="addLucFollow()">新增随访</button>
    </div>
    <div id="datagrid" class="mini-datagrid" style="width:99%; height:auto;"
         allowResize="false" url="getLucData" idField="id" multiSelect="false" showPager="false">
        <div property="columns">
            <div field="id" width="10" headerAlign="center" align="center" visible="false">随访编号</div>
            <div field="suifangDate" width="20" headerAlign="center" align="center">随访日期</div>
            <div field="suifangyishengName" width="20" headerAlign="center" align="center">随访医生</div>
            <div field="suifangjigouName" width="20" headerAlign="center" align="center">随访医疗机构</div>
            <div type="action" width="30" renderer="actionRender" headerAlign="center" align="center">操作</div>
        </div>
    </div>

    <script type="text/javascript" th:inline="javascript">
        mini.parse();
        var lucRegcaseId=[[${info.lucRegcaseId}]];
        var grid = mini.get("datagrid");
        grid.load({lucRegcaseId:lucRegcaseId});
        //操作列
        function actionRender(e) {
            var r = e.record;
            var h = '';
            if (r!=null) {
                h += '<button class="my-btn my-btn-blue mr-20" onclick="lookLucFollow(\''+r.id+'\')">查看</button>';
                h += '<button class="my-btn my-btn-blue mr-20" onclick="updateLucFollow(\''+r.id+'\')">编辑</button>';
                h += '<button class="my-btn my-btn-blue mr-20" onclick="delLucFollow(\''+r.id+'\')">删除</button>';
            }
            return h;
        }
        //新增随访
        function addLucFollow(){
            var manageId=[[${info.manageId}]];
            var checkYear=[[${info.checkYear}]];
            var flag="1";
            window.location.href = "/tumor/lucFollow/openLucFollow?manageId="+manageId+"&checkYear="+checkYear+"&flag="+flag;
        }
        //编辑随访
        function updateLucFollow(id){
            var manageId=[[${info.manageId}]];
            var checkYear=[[${info.checkYear}]];
            var flag="2";
            window.location.href = "/tumor/lucFollow/openLucFollow?manageId="+manageId+"&checkYear="+checkYear+"&flag="+flag+"&id="+id;
        }
        //查看随访
        function lookLucFollow(id){
            var manageId=[[${info.manageId}]];
            var checkYear=[[${info.checkYear}]];
            var flag="3";
            window.location.href = "/tumor/lucFollow/openLucFollow?manageId="+manageId+"&checkYear="+checkYear+"&flag="+flag+"&id="+id;
        }
        //删除随访
        function delLucFollow(id){
            mini.confirm("确定删除这条数据吗？", "提示信息",
                function (action) {
                    if (action == "ok") {
                        $.ajax({
                            url:'/tumor/lucFollow/delLucFollow?id='+id,
                            type:'get',
                            async:true,
                            success: function (response) {
                                mini.alert(response.msg,"提示消息",function () {
                                    if (response.value){
                                        grid.load({lucRegcaseId:lucRegcaseId});
                                    }
                                });
                            }
                        })
                    }
                }
            )
        }
    </script>
</div>
</body>
</html>